:root {
    --h1-style: 'Pacifico', cursive;
    --h2-style: 'Righteous', sans-serif;
    --body-style: 'PT Sans Caption', sans-serif;

}


main {
    background-color: #f7ecde;
    min-height: 100vh;
    font-family: var(--body-style);

    & .content {
        border-width: 2px 0 2px 0;
        border-style: dotted;
        border-color: #352e28;

    }

    & h1 {
        font-family: var(--h1-style);
        background-color: #fec260;
        font-size: 50px;
    }

    & h2 {
        font-family: var(--h2-style);
        background-image: linear-gradient(to right, #3ca55c, #b5ac49);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 25px;

    }

    & svg {
        font-size: 20px;
    }
}

#lighBox {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

#card {

    width: 500px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;

    & p {

        font-size: 22px;
        font-family: sans-serif;
        padding-inline: 24px;
        font-weight: bold;
    }
}

.xMark {
    cursor: pointer;
    font-size: 25px;
    margin-right: 15px;
    margin-top: 15px;
}

ul li {
    list-style: none;
    font-weight: 600;
    font-size: 18px;
}

ul i {
    color: red;
}